<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" >
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="stylesheet" href="/public/css/main.css" >
    <link rel="stylesheet" href="/public/css/login.css" >
    <link rel="stylesheet" href="/public/css/signup.css" >
    <link rel="stylesheet" href="/public/css/events.css" >
    <link rel="stylesheet" href="/public/css/about.css" >
    <link rel="stylesheet" href="/public/css/login.css" >
    <link rel="stylesheet" href="/public/css/home.css" >
    <link rel="stylesheet" href="/public/css/event.css" >
    <link rel="stylesheet" href="/public/css/error.css" >

    <link rel="stylesheet" href="/public/css/profile.css" >
    <link rel="stylesheet" href="/public/css/event.css" >
    <link rel="stylesheet" href="/public/css/landing.css" >
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">Helping Hands</a>
        </div>

        <div class="container-fluid">
          <form
            method="post"
            id="searchForm"
            action="/search"
            onsubmit="searchClicked()"
          >
            <label for="searchValue"></label>
            <input
              id="searchValue"
              type="text"
              name="searchValue"
              placeholder="Search"
            >
            <label for="searchButton"></label>
            <button id="searchButton" type="submit" onclick="searchClicked()"><i
                class="fa fa-search"
              ></i></button>
          </form>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="myNavbar">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {{#if isHost}}
                <li class="nav-item"><a
                    class="nav-link"
                    href="/event/create"
                  >Create Event</a></li>
              {{/if}}
              <li class="nav-item"><a
                  class="nav-link"
                  href="/home"
                >Home</a></li>
              <li class="nav-item"><a
                  class="nav-link"
                  href="/events"
                >Events</a></li>

              <li class="nav-item"><a
                  href="/about"
                  aria-label="About us"
                  class="nav-link"
                >About</a></li>

              {{#if user}}

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Welcome,
                    {{first_name}}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a
                        class="dropdown-item"
                        href="/profile"
                      >Profile</a></li>
                    <li><a class="dropdown-item" href="/landing">Your events</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>

                  </ul>
                </li>
              {{else}}
                <li class="nav-item"><a
                    class="nav-link"
                    href="/login"
                  >Login</a></li>

              {{/if}}
            </ul>

          </div>

        </div>

      </div>
    </nav>

    {{{body}}}

    <footer id="footer">
      <p></p>
    </footer>
    <script src="/public/js/events.js"></script>
    <script src="/public/js/accessiblityfunc.js"></script>

    {{#if user}}
      <script>
        $(document).ready(function(){ sessionStorage.setItem('status','loggedIn');
        });
      </script>
    {{/if}}

  </body>
</html>