<main>
  <div class="about-section">
    <h1>About Us</h1>
    <p>We are Computer science graduate students at Stevens Institute of
      Technology. This website is our CS-546 web programming 1 final project and
      we belong to group 3.
    </p>

  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="about-row">
    <div class="about-column">
      <div class="about-card">
        <img
          src="/public/images/avatars/jaydeep.png"
          alt="Jaydeep"
          style="width:100%;"
        >
        <div class="about-container">
          <h2>Jaydeep Dobariya</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:jdobari1@stevens.edu"
            >jdobari1@stevens.edu</a></p>
        </div>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <img
          src="/public/images/avatars/jay.jpeg"
          alt="Jay"
          style="width:100%"
        >
        <div class="about-container">
          <h2>Jay Talekar</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:jtalekar@stevens.edu"
            >jtalekar@stevens.edu</a></p>
        </div>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <img
          src="/public/images/avatars/nikhil.jpeg"
          alt="Nikhil"
          style="width:100%"
        >
        <div class="about-container">
          <h2>Nikhil Varma Bandaru
          </h2>

          <p class="sub-title">Software Developer</p>

          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:nbandar3@stevens.edu"
            >nbandar3@stevens.edu</a></p>
        </div>
      </div>
    </div>
    <div class="about-column">
      <div class="about-card">
        <img
          src="/public/images/avatars/weijin.jpeg"
          alt="Weijin"
          style="width:100%"
        >
        <div class="about-container">
          <h2>Weijin Lu</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:wilu62@stevens.edu"
            >wilu62@stevens.edu</a></p>
        </div>
      </div>
    </div>
  </div>
</main>