<main>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>

  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="about-row">
    <div class="about-column">
      <div class="about-card">
        <img
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
          alt="Jane"
          style="width:100%"
        />
        <div class="about-container">
          <h2>Jaydeep Dobariya</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:jdobari1@stevens.edu"
            >jdobari1@stevens.edu</a></p>
        </div>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <img
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
          alt="Mike"
          style="width:100%"
        />
        <div class="about-container">
          <h2>Jay Talekar</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:jtalekar@stevens.edu"
            >jtalekar@stevens.edu</a></p>
        </div>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <img
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
          alt="John"
          style="width:100%"
        />
        <div class="about-container">
          <h2>Nikhil Varma Bandaru
          </h2>

          <p class="sub-title">Software Developer</p>

          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:nbandar3@stevens.edu"
            >nbandar3@stevens.edu</a></p>
        </div>
      </div>
    </div>
    <div class="about-column">
      <div class="about-card">
        <img
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
          alt="John"
          style="width:100%"
        />
        <div class="about-container">
          <h2>Weijin Lu</h2>
          <p class="sub-title">Software Developer</p>
          <p class="about-card-text">Hello</p>
          <p class="about-card-text"><a
              href="mailto:wilu62@stevens.edu"
            >wilu62@stevens.edu</a></p>
        </div>
      </div>
    </div>
  </div>
</main>