<main>
<div class="error">

    <h1>Oops!</h1>
    <h2 id="message"></h2>

    <img src="/public/images/page_eat.jpg">
    <a href="/home">Click here to redirect to homepage</a>
</div>
<script>
    let error = {{error}}
    if(error === 400){
        document.getElementById("message").innerHTML = "400: Bad Request";
    }else if (error === 404){
        document.getElementById("message").innerHTML = "404: Page not found";
    } else if (error === 403){
        document.getElementById("message").innerHTML = "403: Forbidden";
    } else if (error === 500){
        document.getElementById("message").innerHTML = "500: Internal Server Error";
    } else if (error === 503){
        document.getElementById("message").innerHTML = "503: Service Unavailable";
    } else if (error === 504){
        document.getElementById("message").innerHTML = "504: Gateway Timeout";
    }else {
        document.getElementById("message").innerHTML = "Something went wrong";
    }
</script>
</main>