<main id="events">

  <div id="searchAndFilter">
    <div class="filter">
      <form>
        <label for="filter">Sort By:</label>
        <select name="filter" id="filter" onchange="sortEvent(this.value)">
          <option disabled selected value> -- Select -- </option>
          <option value="popularity">Popularity</option>
          <option value="recent">Most Recent</option>
          <option value="due">Due soon</option>
        </select>
      </form>
    </div>

  </div>

  <div class="event-row-container">
    <div class="row">
      {{#each allEvents}}
        {{> card_partial }}
      {{else}}
        <p class="empty">No content</p>
      {{/each}}
    </div>
    
  </div>
  {{#ifCond totalEventsCount '>' currEventCount}}
  <div id="load-event-btn" >
      <button onclick="fetchMoreEvents()">See More</button>
  </div>

  {{/ifCond}}

</main>