<main id="events">

  <div id="searchAndFilter">
    <div class="search">
      <form action="#">
        <input type="text" placeholder="Search" name="search" />
        <button>
          <i class="fa fa-search" style="font-size: 18px;">
          </i>
        </button>
      </form>
    </div>

  </div>
  <div class="row-container">
    {{#each allEvents}}
      <div class="row">
        {{#each row}}
          <div class="col">
            <div class="card">
              <img
                src="/public/images/{{image_url}}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><a
                    href="event/{{_id}}"
                  >{{event_name}}</a></h5>
                <p class="card-text">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="like-btn"><i class="fa fa-heart"></i></a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="empty">No content</p>
    {{/each}}
  </div>
</main>