<main >
    <h1 class="title">{{title}}</h1>
    <form id="login_form" action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required/>
        <button type="submit" value="Submit" onclick="onSubmitClicked()">Login</button>
    </form>
    <p id="error_message"></p>
    <script src="../public/js/login.js"></script>
</main>