#indi-event {
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.event-img img {
  max-height: 40vh;
  min-height: 40vh;
}

.host-time p {
  margin: 0;
  justify-content: left;
}

.event-container {
  margin: 0 10vw;
  margin-top: 20px;
}

.event-title {
  justify-content: left;
  margin-top: 10px;
}

.about-event {
  justify-content: left;
  margin-top: 10px;
  font-size: 18px;
}

.event-registeration,
.event-edit,
.login-btn {
  justify-content: center;
  display: flex;
}
.event-registeration button,
.event-edit button {
  background-color: rgb(80, 174, 80);
  padding: 10px 25px;
  border: 2px solid greenyellow;
  border-radius: 25px;
  font-size: 20px;
  color: ghostwhite;
}
.login-btn a {
  background-color: rgb(132, 65, 194);
  padding: 10px 25px;
  border: 2px solid rgb(113, 47, 255);
  border-radius: 25px;
  font-size: 20px;
  color: ghostwhite;
  text-decoration: none;
}
.login-btn a:hover {
  color: wheat;
}
.event-edit button {
  background-color: rgb(183, 61, 61);
  border: 2px solid rgb(255, 64, 47);
}

.time-loc-wrapper {
  display: flex;
  font-size: 16px;
  font-style: italic;
}

.event-deadline {
  margin-top: 20px;
}

.event-host {
  margin-top: 20px;
}
.event-sub-title {
  font-size: 20px;
  font-weight: 600;
}

.host-deatil {
  padding: 0px 5rem;
  font-size: 16px;
  font-style: italic;
  font-weight: 0;
}

.event-loc {
  padding: 0px 5rem;
}
.event-loc p {
  margin: 0;
}

.event-time {
  padding: 0px 5rem;
}

.event-time p {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .time-loc-wrapper {
    display: block;
  }
}

#indi-event .event-img {
  justify-content: center;
  display: flex;
}
#indi-event .event-img img {
  max-width: 60vw;
  min-width: 60vw;
}

.volunteer-list .volunteer p {
  margin: 0;
}

.volunteer-list .volunteer {
  margin-bottom: 20px;
}

.volunteer-list .card {
  margin-bottom: 10px;
}

#unregister-btn {
  background-color: rgb(183, 61, 61);
}

.reg-closed-msg {
  text-align: center;
  font-size: 20px;
  color: rgb(183, 61, 61);
}
