
  .future {
    width: 50%;
    float: left;
    border-right: 2px solid black;
  }
  .expired {
   
    width: 50%;
    float: right;
    
  }
  .cols {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 10px;
     padding: 20px;
  }

  .hist_image {
    height: 150px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  #city-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #link_to_events {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
.empty {
    font-style: italic;
    text-align: center;
  }