body {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 20px 10px 20px;
}
footer {
  background-color: #555;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-top: auto;
}

.navbar-brand {
  color: white !important;
  font-size: x-large;
}
#myNavbar {
  float: right !important;
}
li.search input[type="text"] {
  padding: 10px;
  padding-right: 500px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

li.search button {
  float: left;
  width: 10%;
  padding: 14px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

li.search button:hover {
  background: #0b7dda;
}

li.search::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 768px) {
  #myNavbar {
    text-align: center;
    width: 100%;
  }
  #myNavbar li {
    border-bottom: 1px solid white;
  }
}
