.title{
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

#signup_form {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;  
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#signup_form label {
    display: block;
    margin: 10px 0;
}

#signup_form input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

#signup_form button {
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    display: block;
    width: 100%;
}

#error_message {
    color: red;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center; 
}